/* 
*
* Main front-end framework
*
*  2013 
*
*
* 
* 
*
*/

/*

*/

/* HTML elements  */	

#top-bar{
width:1280px;
height:1px;
background-color:black;
float:top;
position:absolute;
top:150px;
right:0px;
margin-top:10px;
z-index:-1;
}

#left-bar{
width:1px;
height:1140px;
background-color:black;
float:left;
position:relative;
top:0px;
right:0px;
left:200px;
z-index:-0;
}

#right-bar{
width:1px;
height:1140px;
background-color:black;
float:right;
position:relative;
top:0px;
right:200px;
z-index:-0;
}

#bottom-bar{
width:1280px;
height:1px;
background-color:black;
position:absolute;
top:950px;
right:0px;
z-index:-1;
}

#navo{
position:absolute;
top:200px;
right:1090px;
left:0px;
margin-top:0px;
z-index:1;
}

